<h2>Welcome to the Haven Demo!</h2>

<p>Here are your login credentials:</p>
<hr>
<strong>Email:</strong> <%= @user.email %><br>
<strong>Password:</strong> <%= @password %><br>

<p>Copy your password and use it to <%= link_to "sign in", :root %>.</p>



