<h1>Markdown</h1>
<p>Your blog uses <em>Markdown</em>, a special syntax for easily creating HTML elements.  This page shows you some of the basic tools for using Markdown in your posts.</p>
<h2>Headings</h2>
<pre><code># Big Heading
## Smaller Heading
### Even Smaller Heading
</code></pre>
<h1>Big Heading</h1>
<h2>Smaller Heading</h2>
<h3>Even Smaller Heading</h3>
<h2>Styles</h2>
<pre><code>*Italics* or _Italics_
**Bold** or __Bold__
~~Strikeout~~
`monospace`
</code></pre>
<p><em>Italics</em> or <em>Italics</em><br />
<strong>Bold</strong> or <strong>Bold</strong><br />
<del>Strikeout</del><br />
<code>monospace</code></p>
<h2>Links</h2>
<pre><code>Links work by themselves: 
https://www.example.com
www.example.com

Or in Text:
Link to [example](https://www.example.com).
</code></pre>
<p>Links work by themselves:<br />
<a href="https://www.example.com">https://www.example.com</a><br />
<a href="http://www.example.com">www.example.com</a></p>
<p>Or in Text:<br />
Link to <a href="https://www.example.com">example</a>.</p>
<h2>Blocks</h2>
<pre><code>&gt; Quotes

```
code blocks
```
</code></pre>
<blockquote>
<p>Quotes</p>
</blockquote>
<pre><code>code blocks
</code></pre>
<h2>Lists</h2>
<pre><code>1. Ordered
2. Lists
4. Numbers don't
1. Matter

* Unordered
* lists.
- Hyphens are also
- Cool
</code></pre>
<ol>
<li>Ordered</li>
<li>Lists</li>
<li>Numbers don't</li>
<li>Matter</li>
</ol>
<ul>
<li>Unordered</li>
<li>lists.</li>
</ul>
<ul>
<li>Hyphens are also</li>
<li>Cool</li>
</ul>
