<h1>CSS and Themes</h1>
CSS is the way websites control the format and style of their content.  Your blog allows you to add custom CSS code to change how it looks.  Here are a few themes you can use that demonstrate how to change colors and fonts.

<h2>Default</h2>
This theme represents the default colors used in your blog.  You can use it as a starting point to change some of the colors on your blog.

<pre>
:root {
    --nc-tx-1: #0d0d0d;
    --nc-tx-2: #333333;
    --nc-bg-1: #FFFFFF;
    --nc-bg-2: #F6F8FA;
    --nc-bg-3: #E5E7EB;
    --nc-lk-1: #0070F3;
    --nc-lk-2: #0366D6;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #b3d8ff;
    --nc-ac-tx: #0C4047;
}
</pre>

<h2>Terminal</h2>
This theme uses green text on a black background inspired by old computer terminals.
<pre>
:root {
    --nc-font-sans: monospace;
    --nc-font-mono: monospace;
    --nc-tx-1: #FFFFFF;
    --nc-tx-2: #EEEEEE;
    --nc-bg-1: #000000;
    --nc-bg-2: #002700;
    --nc-bg-3: #005800;
    --nc-lk-1: #00FF00;
    --nc-lk-2: #00c200;
    --nc-lk-tx: #000000;
    --nc-ac-1: #00FF00;
    --nc-ac-tx: #000000;
}
</pre>

<h2>Material</h2>
This is another dark theme that uses white on a black background.
<pre>
:root {
    --nc-tx-1: #FFFFFF;
    --nc-tx-2: #B7B7B7;
    --nc-bg-1: #1E272C;
    --nc-bg-2: #161d21;
    --nc-bg-3: #263238;
    --nc-lk-1: #5E92FF;
    --nc-lk-2: #528aff;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #C3E88D;
    --nc-ac-tx: #263238;
}
</pre>
