
<hr> 

<% if @posts.empty? %>
<p>Nobody has written anything yet.</p>
<% end %>

<% unless params[:page].nil? || params[:page]=="1" %>
  <%= paginate @posts %>
<% end %>

<% @posts.each do |post| %>
  <%= render "posts", post: post, show_page: false %>
  <hr>
<% end %>
<%= paginate @posts %>
