.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $color-lightfill;
  border: 0.1rem solid $color-lightfill;
  border-radius: 0.4rem;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  &:focus,
  &:hover {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
    outline: 0;
  }
  &[disabled] {
    cursor: default;
    opacity: 0.5;
    &:focus,
    &:hover {
      background-color: $color-lightfill;
      border-color: $color-lightfill;
    }
  }
  &.button-outline {
    background-color: transparent;
    color: $color-lightfill;
    &:focus,
    &:hover {
      background-color: transparent;
      border-color: $color-accent;
      color: $color-accent;
    }
    &[disabled] {
      &:focus,
      &:hover {
        border-color: inherit;
        color: $color-lightfill;
      }
    }
  }
  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $color-lightfill;
    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $color-accent;
    }
    &[disabled] {
      &:focus,
      &:hover {
        color: $color-lightfill;
      }
    }
  }
}
