code, samp, time {
  background:  $color-background;
  color: $color-code;
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: $color-variable;
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: $color-background;
  border: 1px solid $color-border;
  border-radius: 2px;
  color: $color-text-main;
  padding: 2px 4px 2px 4px;
}
