button, input, textarea {
  transition: background-color 0.07s linear,
              border-color 0.07s linear,
              color 0.07s linear,
              box-shadow 0.07s linear,
              transform 0.07s ease;
}


button, select,
input[type='submit'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='file'],
input[type='radio'] {
  cursor: pointer;
}

input:not([type='checkbox']):not([type='radio']),
select {
  display: block;
}

input,
button,
textarea,
select {
  color: $color-form-text;
  background-color: $color-background;

  font-family: inherit;
  font-size: inherit;

  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
  padding: 0.625rem;

  border: none;
  border-radius: 0.375rem;
  outline: none;
}

input[type='file'] {
  padding: 6.75px;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
}

textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

select {
  background: $color-background; //might need position/size/repeat
  padding-right: 35px;
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  padding-right: 0.625rem;
  background-image: none;
  overflow-y: auto;
}

button,
input[type='submit'],
input[type='button'] {
  padding-right: 30px;
  padding-left: 30px;
}

button:hover,
input[type='file']:hover,
input[type='submit']:hover,
input[type='button']:hover {
  background: $color-button-hover;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  box-shadow: 0 0 0 2px $color-focus;
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 2px;
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background: $color-button-hover;
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
  content: '•';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

input[type='checkbox']:checked::before {
  content: '✔';
  transform: translateY(-50%) translateY(0.5px) translateX(-6px);
}

input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='button']:active,
input[type='range']:active,
input[type='file']:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::placeholder {
  color: $color-form-placeholder;
}

fieldset {
  border: 0.05rem $color-focus solid;
  border-radius: 0.375rem;
  margin: 0;
  margin-bottom: 0.375rem;
  padding: 0.625rem;
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}
