.post-author {
  font-size: smaller;
}

form.comments {
  display: inline-block;
}

a.feed_entry_skip {
  float: right;
}

img.indie-client-logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 1em;
}

p.indie-client-logo {
  text-align: center;
}

p.indie-client-name {
  text-align: center;
  font-weight: bold;
}

span.indie-auth-client {
  font-weight: bold;
}

details.recent_activity summary h2 {
  display: inline-block;
  padding-top: 0.25rem;
}

details.recent_activity summary {
  cursor: pointer;
  list-style: none;
}

details.recent_activity div p:last-child {
  margin-bottom: 0;
}

details.recent_activity[open] summary h2:before {
  content: "▼ ";
  font-size: 0.7em;
}
details.recent_activity summary h2:before {
  content: "► ";
  font-size: 0.7em;
}

span.reaction_age {
  font-size: small;
}
