.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.container {
  max-width:800px;
  margin:20px auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navigation-home {
  float: left;
}

.navigation-list li {
  float: right;
}

.navigation-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

.navigation-list li a:hover {
  background-color: #111;
}
