
.navigation {
    background: $color-accent;
    display: block;
    height: 3.6rem;
    left: 0;
    max-width: 100%;
    right: 0;
    top: 0;
    margin-bottom: 2rem;
    width: 100%;
    z-index: 1;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .navigation-list {
    list-style: none;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}

.navigation-list li {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}

.navigation-home,
.navigation-list li a {
    display: inline;
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-white;
    line-height: 3.6rem;
    padding: 0;
    text-decoration: none;
}

@media screen and (max-width: 40rem) {
.navigation {
    height: auto;
}

.navigation .navigation-list {
    float: none;
    margin-bottom: initial;
    margin-top: initial;
    margin-right: initial;
}

.navigation-list li {
    float: none;
    margin-bottom: initial;
    margin-left: initial;
    position: relative;
}

}
