q:before {
   content: none;
}

q:after {
   content: none;
}

q p,
blockquote p {
  margin: auto;
}

blockquote, q{
  border-left: 4px solid $color-focus;
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  margin-top: 10px;
  font-style: normal;
}

blockquote cite {
  font-style: normal;
}
