$color-white: #e9e9e9;
$color-text: #50585f;
$color-bold: #333;
$color-lightfill: #d0d8df;
$color-accent: #333;


  

// Utility //

.container {
  margin: 0 auto;
  max-width: 50em;
}


// Code //

code,
pre {
  background: #eee;
}

code {
  padding: 0.125rem 0.25rem;
  vertical-align: text-bottom;
}

pre {
  padding: 1rem;
}

blockquote {
  border-left: .2rem solid $color-accent;
  margin-left: 0;
  margin-right: 0;
  padding: 0.6rem 1rem;

  *:last-child {
    margin-bottom: 0
  }
}

// Images //

img {
  max-width: 100%;
}

